html {
  background: rgb(242, 232, 165);
}

body {
  background-color: lightgoldenrodyellow;
  margin: 0 auto;
  width: 95%;
  max-width: 900px;
  min-width: 640px;
  font-family: Arial;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff4ab;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

 header {
  text-align: center;
  padding: 20px 0;
  line-height: 2em;
}

 section#leftColumn {
  float: left;
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffeba9;
}

section#rightColumn {
  float: left;
  width: 67%;
  padding: 10px;
  box-sizing: border-box;
    background-color: #ffe1a9;
}

section#rightColumn img{
  display: block;
  width:100%;
}

 footer {
  clear: both;
  padding: 1em;
  text-align: center;
  background-color: lightyellow;
}

